ARCADE_DATA_DIR=/var/lib/nicks-arcade
ARCADE_ADMIN_EMAILS=ronavis@gmail.com
ARCADE_ALLOWED_ORIGINS=https://ronavis.github.io
ARCADE_PUBLIC_URL=https://ronavis.github.io/nicks-arcade/
GOOGLE_CLIENT_ID=569822322277-ng39tk1vcecgjfes85bs16umb5k47mc7.apps.googleusercontent.com
MOVIE_LADDER_ADMIN_EMAILS=ronavis@gmail.com
